modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"
packages = ["maven"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MOSCAT Application"

[[workflows.workflow]]
name = "MOSCAT Application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p out && mvn compile exec:java -Dexec.mainClass=\"com.moscat.App\""

[deployment]
run = ["sh", "-c", "cd src && javac -d ../out main/java/com/moscat/App.java main/java/com/moscat/utils/*.java main/java/com/moscat/models/*.java main/java/com/moscat/controllers/*.java main/java/com/moscat/views/*.java main/java/com/moscat/views/components/*.java && cd .. && java -cp out:. com.moscat.App"]
